body{
    background-color: #2C2B3D;
    margin: 0;
        
    min-height: 100vh;
}

.container{
    width: 1070px;
    margin: auto;
    padding-top: 71px;
    transition: .4s;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 101px;
}

ul{
    display: flex;
    text-decoration: none;
    gap: 64px;

}

li{
    
    list-style-type: none;
}

ul li a:hover{
    color: #00BFA6;
}

ul li a{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-decoration: 0;
    font-size: 14px;
    line-height: 28px;
}

h1, footer{
    font-family: 'JetBrains Mono', monospace;

}

main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 157px;
}

h1{
    color: #FFF;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 60px;
    text-align: center;
}

span{
    color: #00BFA6;

}

p{
    width: 604px;
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.line{
    display: flex;
    flex-direction: column;
    width: 568px;
    margin: 0;
    margin-bottom: 27px;
    border-top: 1px solid #00BFA6;
}
footer{
    color: #FFF;
    width: 568px;
    margin: auto;
    text-align: center;
}


footer a{
    color: #FFF;

    text-decoration: none;
    
    
}

footer a:hover{
    color: #00BFA6;
}

#cadeado{
    position: fixed;
    bottom: 20px;
    left: 20px;
    
}

@media (min-width: 1500px){
    .container{
        width: 1400px;
        transition: .4s;
    }
}
